<style>  
    .content {  
        display: flex;  
        flex-direction: column;  
        align-items: center;  
        justify-content: center;  
    }  

    .logo {  
        height: 200rpx;  
        width: 200rpx;  
        margin-top: 200rpx;  
        margin-left: auto;  
        margin-right: auto;  
        margin-bottom: 50rpx;  
    }  

    .text-area {  
        display: flex;  
        justify-content: center;  
    }  

    .title {  
        font-size: 36rpx;  
        color: #8f8f94;  
    }  

    .iptb {  
        text-align: left;  
        margin: 25rpx;  
        background-color: #f7f7f7;  
        width: 650rpx;  
        padding: 20rpx;  
    }  

    .body {  
        color: #808080;  
        font-size: 25rpx;  
        margin: 25rpx;  
        width: 650rpx;  
        padding: 20rpx;  
        background-color: #f7f7f7;  
        border-radius: 12rpx;  
    }  
</style>  